
body > h1 {
  color: rgb(176, 129, 220);
  text-align: center;
  padding: 1rem;
  text-shadow: 
  1px 0px 1px #ccc, 0px 1px 1px #eee, 
  2px 1px 1px #ccc, 1px 2px 1px #eee,
  3px 2px 1px #ccc, 2px 3px 1px #eee,
  4px 3px 1px #ccc, 3px 4px 1px #eee,
  5px 4px 1px #ccc, 4px 5px 1px #eee,
  6px 5px 1px #ccc, 5px 6px 1px #eee,
  7px 6px 1px #ccc;

}

p {

  border: 2px solid rgb(206, 133, 197);
  color: rgb(176, 129, 220);
  text-align: center;
  padding: 2rem;
  box-shadow: inset 0 0 10px #2c2923;
  margin: 5rem;
}

body {

background-color: rgb(238, 218, 238);
}