<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}} - GameShop</title>
    <link href="{{ url_for('static', filename='index.css') }}" rel="stylesheet">
</head>
<body>
    <h1>GameShop</h1>
    {% for order in orders %}
    <div>
        <p>
            {{order.name}}: <b>{{order.game}}, {{order.order_date}}, {{order.quantity}}</b>
            <a href="/orders/{{orders.index(order)}}">Here</a>
        </p>
    </div>
    {% endfor %}
</body>
</html>